name: test-on-push
on:
  push:
    branches:
      - main
  
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
      fetch-depth: 0
    - name: npm install
      run: |
        npm install
    - name: npm run build
      run: |
        npm run build
    - name: npm run test:unit
      run: | 
        npm run test:unit
